*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Mainpage{
    background-image: url('../images/bckg.png');
}

.navbar{
    cursor: pointer;
    display: flex;
    width: 100%;
    margin: -5px;
    align-items: center;
    padding:0px;
 
}
.navbar-brand{
    margin-top: 10px;
    margin-left: 4px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    margin: 10px;
   
}
.navlog{
    border-radius: 15px !important;
}
.logo{
    margin: 10px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;

}
a{
    text-decoration: none;
    color: #555;
}
/* .banner{
    height: 500px;
} */

.getstart{
    background-color: rgb(106, 141, 41)  !important;
    color: white !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin: 50px;
    border-radius: 5px!important;
    /* margin: 30px; */
}
.getstart:hover{
    background-color: rgb(214, 214, 214)  !important;
    color: rgb(45, 69, 9) !important;
}
.banner__components{
    width: 800px;
    display: flex;
    flex-direction: column;
    color: rgb(91, 117, 75) !important;
    margin-top: -650px;
    margin-left:-70px;
    justify-content:center ;
    align-items: center;
    border-radius: 10px;
}