.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 65px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.container {
  background-color: #003366;
}
.container-fluid {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 10px;
  height: fit-content;
  background-color: white;
  padding: 10px;
}
