<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='dashboard.css')}}"
    />
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="" /> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body onload="renderDate()">
    <!-- Nav Bar -->

    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bxl-c-plus-plus"></i>
        <span class="logo_name">Exam Portal</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/auth/my-wall">
            <i class="bx bxs-user-account"></i>
            <span class="links_name">My Wall</span>
          </a>
        </li>
        <li>
          <a href="/question-page">
            <i class="bx bx-box"></i>
            <span class="links_name">Exam Portal</span>
          </a>
        </li>
        <li>
          <a href="/auth/forum">
            <i class="bx bx-list-ul"></i>
            <span class="links_name">Forum</span>
          </a>
        </li>
        <li>
          <a href="/auth/contactus">
            <i class="bx bx-coin-stack"></i>
            <span class="links_name">Contact Us</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-user"></i>
            <span class="links_name">Team</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Setting</span>
          </a>
        </li>
        <li class="log_out">
          <a href="/auth/logout">
            <i class="bx bx-log-out"></i>
            <a class="links_name" href="Home.html">Log out</a>
          </a>
        </li>
      </ul>
    </div>

    <!-- heading Section -->

    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class="bx bx-menu sidebarBtn"></i>
          <span class="dashboard">Dashboard</span>
        </div>
        <div class="profile-details">
          <span class="Timer"><i class="bx bx-time"></i>Time 5:15PM</span>
        </div>
        <div class="profile-details">
          <a href="/auth/user">
            <!-- <img src="images/profile.jpg" alt=""> -->
            <span class="admin_name">{{firstname}} {{lastname}}</span>
            <i class="bx bx-chevron-right"></i>
          </a>
        </div>
      </nav>

      <!-- Body-->

      <div class="home-content">
        <div class="overview-boxes row">
          <!-- Updates -->
          <div class="box col">
            <div class="box-topic"><h3>Updates</h3></div>
            <div class="content">
              <h5 class="text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </h5>
            </div>
          </div>

          <!-- UpComing -->

          <div class="box col">
            <div class="box-topic"><h3>Upcoming</h3></div>
            <div class="content">
              <div class="text-center">
                <h5>Machine Learning</h5>
                <h6>Exam on June 11'22</h6>
              </div>
            </div>
          </div>

          <!--  Calendar -->

          <div class="box col">
            <!-- <div class="box-topic"><h3>Calender</h3></div> -->
            <div class="content">
              <!-- <div class="wrapper"> -->
              <div class="calendar">
                <div class="month">
                  <div class="prev" onclick="moveDate('prev')">
                    <span>&#10094;</span>
                  </div>
                  <h4 id="month"></h4>
                  <h6 id="date_str"></h6>
                  <div class="next" onclick="moveDate('next')">
                    <span>&#10095;</span>
                  </div>
                </div>
                <div class="weekdays">
                  <div>Sun</div>
                  <div>Mon</div>
                  <div>Tue</div>
                  <div>Wed</div>
                  <div>Thu</div>
                  <div>Fri</div>
                  <div>Sat</div>
                </div>
                <div class="days"></div>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>

        <div class="sales-boxes">
          <div class="recent-sales box">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores
            consectetur a eum velit. Illum tenetur aliquid porro quod distinctio
            incidunt ipsa impedit beatae, pariatur, est quaerat molestias
            similique quisquam at.
          </div>
          <div class="top-sales box">
            <div class="addfile">
              <h1 class="heading">Repository</h1>
              <div class="row fileinput m-3">
                <div class="col-sm-2">
                  <input
                    class="form-control"
                    type="file"
                    id="formFileMultiple"
                    multiple
                  />
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-common" type="submit">Upload</button>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </section>

    <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
        if (sidebar.classList.contains("active")) {
          sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      };
      var dt = new Date();
      document.getElementById("date-time").innerHTML = dt;

      // Calendar
      var dt = new Date();
      function renderDate() {
        dt.setDate(1);
        var day = dt.getDay();
        var today = new Date();
        var endDate = new Date(
          dt.getFullYear(),
          dt.getMonth() + 1,
          0
        ).getDate();
        var prevDate = new Date(dt.getFullYear(), dt.getMonth(), 0).getDate();
        var months = [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December",
        ];
        document.getElementById("month").innerHTML = months[dt.getMonth()];
        // document.getElementById("date_str").innerHTML = dt.toDateString();
        var cells = "";
        for (x = day; x > 0; x--) {
          cells += "<div class='prev_date'>" + (prevDate - x + 1) + "</div>";
        }
        console.log(day);
        for (i = 1; i <= endDate; i++) {
          if (i == today.getDate() && dt.getMonth() == today.getMonth())
            cells += "<div class='today'>" + i + "</div>";
          else cells += "<div>" + i + "</div>";
        }
        document.getElementsByClassName("days")[0].innerHTML = cells;
      }
      function moveDate(para) {
        if (para == "prev") {
          dt.setMonth(dt.getMonth() - 1);
        } else if (para == "next") {
          dt.setMonth(dt.getMonth() + 1);
        }
        renderDate();
      }
    </script>
  </body>
</html>
