<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
</head>
<body>
    <h1><b>Question</b></h1>
    <div class="container">
        <!-- <div class="title">Registration</div> -->
        <form action="/set-question" method="POST">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Enter Question</span>
              <input
                type="text"
                name="Question"
                placeholder="Question"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Option 1</span>
              <input
                type="text"
                name="Option-1"
                placeholder="Option-1"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Option-2</span>
              <input
                type="text"
                name="Option-2"
                placeholder="Option-2"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Option-3</span>
              <input
                type="text"
                name="Option-3"
                placeholder="Option-3"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Option-4</span>
              <input
                type="text"
                name="Option-4"
                placeholder="Option-4"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Correct Option</span>
              <input
                type="text"
                name="Correct Option"
                placeholder="Correct Option"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Exam ID</span>
              <input
                type="text"
                name="Exam ID"
                placeholder="Exam ID"
                required
              />
            </div>
          </div>
          <div class="mb-2">
            <button
              type="submit"
              class="btn btn-block loginbutton text-uppercase"
            >
              Submit
            </button>
          </div>

    
</body>
</html>